@page
@model KrustyKrabPizza.Pages.PizzaModel
@{
}


<div class="text-center flex-column" >
    <h2 class="text-capitalize display-2">Our Pizza Selection:</h2>
    <h3>Choose one then done OR select our pizza builder!</h3>

    <div class="container" >
        <div class="row">
            <div class="col-12 mb-5 mt-5">
                <div class="row w-100">

                    <div class="col-4 bg-opacity-10 bg-dark rounded-5">
                        <img src="~/images/Pizzas/Create.png" class="w-100" />
                    </div>

                    <div class="col-5" style="margin-left:50px">
                        <div class="card text-white bg-primary mb-3" style="max-width: 70rem; float: right;">
                            <div class="card-header">Create Your Own Pizza</div>
                            <div class="card-body">
                                <h4 class="card-title">For you, by you!</h4>
                                <p class="card-text">More simple than ever to create your own pizza, the way you like to pizza!</p>
                            </div>
                            <div class="card-footer">
                                <a class="text-light btn btn-success w-25" asp-page="Forms/CustomPizza">Build!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <br />
            <br />
            <h2 class="mt-4">Prebuilt:</h2>
            @foreach (var pizzaItem in Model.FakePizzaDb)
            {
                string imagePath = $@"~/images/Pizzas/{pizzaItem.ImageTitle}.png";

                <div class="col-4 mb-5 bg-light bg-opacity-10">
                    <a class="border-4 mt-1" asp-page="/Checkout/Checkout" 
                    asp-route-ImageTitle="@pizzaItem.ImageTitle"
                    asp-route-PizzaPrice="@pizzaItem.FinalPrice"
                    asp-route-PizzaName="@pizzaItem.PizzaName"
                    asp-route-HasTomatoSause="@pizzaItem.HasTomatoSause"
                    asp-route-HasCheese="@pizzaItem.HasCheese"
                    asp-route-HasMushrooms="@pizzaItem.HasMushrooms"
                    asp-route-HasPineapple="@pizzaItem.HasPineapple"
                    asp-route-HasTuna="@pizzaItem.HasTuna" 
                    asp-route-HasHam="@pizzaItem.HasHam"
                    asp-route-HasBeef="@pizzaItem.HasBeef">
                        <img src="@imagePath" class="w-100 rounded-4" asp-append-version="true" />
                    </a>
                    <br />
                </div>
            }
        </div>
    </div>
</div>
